process {
    withName:Align_And_Extract {
        container = 'qmrlab/antsfsl:latest'
    }
}
docker {
    enabled = false
}

params {
    //**Global**//
        use_b1map=true
        b1_cor_factor=0.4
    
    //**Registration//
        dim=3
        metric="MI"
        metric_weight=1
        metric_bins=32
        metric_sampling="Regular"
        metric_samplingprct=0.25
        transform="Rigid[0.1]"
        convergence="[1000x500x250x100,1e-6,10]"
        shrink="8x4x2x1"
        smoothing = "3x2x1x0vox"

    //**BET Brain extraction**//    
        bet_threshold=0.45

    //**MTw**//
        mtw_fa=6
        mtw_tr=0.0280
      
    //**PDw**//
        pdw_fa=6
        pdw_tr=0.0280    

    //**T1w**//
        t1w_fa=20
        t1w_tr=0.0180    

}