process {
    withName:Align_Input_Volumes {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Extract_Brain {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Fit_MTsat_With_B1map_With_Bet {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Fit_MTsat_With_B1map_Without_Bet {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Fit_MTsat_Without_B1map_With_Bet {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Fit_MTsat_Without_B1map_Without_Bet {
        container = 'qmrlab/antsfsl:latest'
    }
   
}
docker {
    enabled = true
}

params {
    
    //** Enable-Disable B1 correction **//
        USE_B1=false

    //** B1 correction factor **//    
        COR_B1=0.4
    
    //**ANTs registration parameters//
        ants_dim=3
        ants_metric="MI"
        ants_metric_weight=1
        ants_metric_bins=32
        ants_metric_sampling="Regular"
        ants_metric_samplingprct=0.25
        ants_transform="Rigid[0.1]"
        ants_convergence="[1000x500x250x100,1e-6,10]"
        ants_shrink="8x4x2x1"
        ants_smoothing = "3x2x1x0vox"

    //**BET Brain extraction**//    
        USE_BET=false
        bet_recursive=true
        bet_threshold=0.45

    //**Default MTw protocol**//
        dflt_mtw_fa=6
        dflt_mtw_tr=0.0280
      
    //**Default PDw protocol**//
        dflt_pdw_fa=6
        dflt_pdw_tr=0.0280    

    //**Default T1w protocol**//
        dflt_t1w_fa=20
        dflt_t1w_tr=0.0180    

}